@charset "UTF-8";

form{
    width: 300px;
    margin: 100px auto;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	border-radius:10px;
	padding:10px;
    background-color: azure;
}
	
legend{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(83, 83, 83);
}
.content{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
}
.content div{
    background-color: rgb(226, 237, 248);
    border-radius:5px;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.content button{
    border-radius:50%;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: rgb(250, 223, 188);
    border: 1px solid rgb(194, 194, 194);

}

.inpt_box{
    width: 90%;
    margin: auto;
    text-align: center;
}
input{
    width: 95%;
}
.inp{
    padding: 8px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 0px 0px, rgba(0, 0, 0, 0.23) 1px 5px 6px;
    border: 2px solid rgb(208, 208, 208);
    margin-bottom: 6px;
}
.demo{
    background-color: azure;
    margin-top: 2px;
    border: none;
    outline: none;
    cursor: default;
    transition: 1s ease;
    text-align: right;
    color: rgb(231, 154, 0);
}
.demo:focus{
    transform: scale(1.05);

}

.val:hover{
    background-color: rgb(177, 214, 251);
}

button:hover, .bb:hover{
    background-color: rgb(250, 185, 106);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
p{
    text-align: center;
    font-size: smaller;
    color: rgb(171, 171, 171);
}
@media (max-width:200px) {
    form{
    width: 200px;
}
}