<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Calculator</title>
<link rel="stylesheet" th:href="@{calculator.css}">

</head>
<body>

    <form action="/calculate" method="post">
        <fieldset>
            <legend>Calculator</legend>
            <br>
            <div class="inpt_box">
                <input class="inp" type="text" placeholder="Enter number" name="getInpData" th:value="${addInp}">
                <br>
                <input class="demo" type="text" readonly th:value="${demo}" name="demoData">
            </div>
            <br><br>

            <div class="content">
                <div class="val">1</div>
                <div class="val">2</div>
                <div class="val">3</div>
                <button value="+" name="action">+</button>

                <div class="val">4</div>
                <div class="val">5</div>
                <div class="val">6</div>
                <button value="-" name="action">-</button>

                <div class="val">7</div>
                <div class="val">8</div>
                <div class="val">9</div>
                <button value="/" name="action">/</button>

                <div class="val">00</div>
                <div class="val">0</div>
                <div class="val">.</div>
                <button value="*" name="action">*</button>
                
                <button value="c" name="action">C</button>
                <button value="%" name="action">%</button>
                <button value="=" name="action">=</button>
                <div class="bb"> < </div>
                
            </div>
        </fieldset>
        <p>----- Calculate smarter, Not harder -----</p>
    </form>
    
	<script th:src="@{calculator.js}">
	
</script>
</body>
</html>